<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient</title>
</head>
<body>
    <h4>First Name: {{details.First_Name}}</h4>
    <h4>Last Name: {{details.Last_Name}}</h4>
    <h4>User Type: {{details.User_Type}}</h4>
    <h4>Username: {{details.User_Name}}</h4>    
    <h4>Email_Id: {{details.Email_Id}}</h4>
    <h4>Password: {{details.Password}}</h4>
    <h4>Address: {{details.Address}}</h4>
    <h4>Profile Picture:</h4>
    <img style="border-radius: 50%;width: 200px" src="/{{details.Profile_Picture}}" alt="User Image">
</body>
</html>